@charset "ISO-8859-1";
body{
    background: url('../images/clothes.webp') no-repeat center center fixed;
	background-size: cover;
  
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a, .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: orange;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidenav .closebtn {
  position:relative;
  font-size: 36px;
  margin-left: 180px;
  margin-top:-50px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  margin-left: 250px;
  font-size: 20px; 
  padding: 0px 10px;
}

form{
	width:800px;
	padding:55px;
	background-color: #F5F5DC;
	font-size:17px;
	font-family:Verdana;
	opacity: 0.8;
	border-radius:50px;
}